@media only screen and (max-width: 720px){

}

@media only screen and (max-width: 480px){
	body, small {
		font-size: 12px;
	}	
	h1,h2,h3,h4,h5 {
		font-size: 18px;
	}
	.content .holder section {
		font-size: 12px;
	}
	section#stalk img{
		height: 24px;
		width: 24px;
	}
	.grip, .grip ul, .grip img{
		width: 50px;
		height: 50px;
	}
}