@media only screen and (max-width: 720px){
	.container {
		max-width: 600px;
	}
}

@media only screen and (max-width: 480px){
	.container {
		max-width: 480px;
	}
	body, small {
		font-size: 11px;
		text-align: justify;
	}	
	h1,h2,h3,h4,h5 {
		font-size: 16px;
	}
	.content .holder section {
		font-size: 13px;
	}
	section#stalk img{
		height: 24px;
		width: 24px;
	}
	.grip, .grip ul, .grip img{
		width: 50px;
		height: 50px;
		text-align: center;
		vertical-align: middle;
	}
	.content .image-holder{
		text-align: center;
		vertical-align: middle;
	}
	.content header img {
		height: 75px;
		width: 75px;
		text-align: center;
	}
	section#port img{
		height: 35px;
		width: 35px;
	}
}